* {
  margin: 0;
}

.header {
  background: linear-gradient(360deg, #1d1c1c 0%, hwb(0 17% 82% / 0) 100%),
    url(images/donation0.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  width: auto;
  height: 600px;
}
.header-container {
  text-align: center;
  justify-content: center;
  padding: 175px 307px;
}
.header-title {
  font-weight: 700;
  font-size: 65px;
  color: #ffffff;
  margin-bottom: 20px;
}
.header-description {
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 30px;
}
.btn-donate {
  background: #ff5959;
  border-radius: 5px;
  padding: 16px 12px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  border: 0;
}
/* donate today style */
main {
  text-align: center;
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-weight: 700;
  font-size: 45px;
  color: #121212;
  margin-top: 120px;
}
.section-description {
  font-weight: 400;
  font-size: 18px;
  color: #707070;
  margin-bottom: 50px;
}
.btn-donate-tk {
  display: flex;
  gap: 22px;

  justify-content: space-evenly;
}
.btn {
  padding: 43px 22px;
  font-weight: 700;
  font-size: 30px;
  color: #707070;
  border: 0;
}
.btn-200 .btn {
  background: #ffeeee;
  border: 2px solid #ff5959;
  border-radius: 5px;
  color: #ff5959;
}
.section-end {
  margin-top: 60px;
  margin-bottom: 9.5px;
  font-weight: 400;
  font-size: 18px;
  color: #b3b3b3;
  text-align: center;
}
.section-hr {
  margin-bottom: 30px;
}
/* our donate plan */
.section-donate {
  font-weight: 700;
  color: #121212;
  font-size: 45px;
  margin-top: 130px;
  margin-bottom: 20px;
}
.section-donate-description {
  font-weight: 400;
  font-size: 18px;
  color: #707070;
  margin-bottom: 50px;
}
.section-div {
  display: flex;
  gap: 20px;
}
.blog-1,
.blog-2,
.blog-3 {
  border-radius: 5px;
  text-align: left;

  font-family: "Poppins";
  width: 360px;
  height: 352px;

  font-size: 16px;

  padding-left: 11px;
  padding-right: 5px;
}
.blog-1 {
  background: rgba(79, 157, 166, 0.1);
}
.blog-2 {
  background: rgba(255, 89, 89, 0.1);
}

.blog-3 {
  background: #fff4d6;
}
.div-title {
  font-weight: 600;
  font-size: 24px;
  color: #121212;
  font-family: "Poppins";
  font-style: normal;
  text-align: left;
  padding-bottom: 30px;
  padding-top: 15px;
  white-space: nowrap;
}
.section-div img {
  width: 40px;
  height: 40px;
  padding-top: 40px;
  padding-left: 0.5px;
}
/*  div and pic section  */

.div-1 {
  display: flex;
  margin-top: 50px;
}
.img-1,
.img-2 {
  height: 400px;
  width: 550px;
}
.img-1 {
  padding-left: 50px;
  padding-top: 65px;
}
.img-2 {
  padding-top: 65px;
  padding-left: 10px;
  padding-right: 80px;
  justify-self: left;
}
.div-title-pic {
  font-weight: 700;
  font-size: 45px;
  color: #121212;
  text-align: start;
  padding-top: 120px;
  white-space: nowrap;
  padding-bottom: 20px;
}
.div-description {
  color: #707070;
  font-weight: 400;
  font-size: 18px;
  text-align: start;
  margin-bottom: 15px;
}
.contribute-btn {
  background: #ff5959;
  border-radius: 5px;
  padding: 16px 12px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  border: 0;
  margin-right: 350px;
  align-items: center;
  white-space: nowrap;
}
/* update section */
.update-title {
  font-weight: 900;
  font-size: 55px;
  color: #121212;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 20px;
}
.update-description {
  font-weight: 400;
  font-size: 18px;
  color: #707070;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}
/* btn-section */
.btn-section {
  margin-left: 140px;
  margin-bottom: 50px;
  background: #fff4d6;
  width: auto;
  height: 200px;
  display: flex;
  width: fit-content;
}
.btn-div {
  padding: 77px 188px;
}
.email-btn {
  background: #d9d9d9;
  border-radius: 5px 0px 0px 5px;
  width: 275px;
  height: 48px;
  text-align: left;
  border: 0;
  color: #aa9f9f;
  font-weight: 500;
  font-size: 16px;
}
.sub-btn {
  width: 157px;
  height: 48px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  background: #ff5959;
  border-radius: 0px 5px 5px 0px;
  border: 0;
}
/* footer part */
.footer-section {
  background: #0b0d17;
  width: auto;
  height: 177px;
  position: relative;
}
.footer-title {
  color: #ff5959;
  font-weight: 400;
  font-size: 36px;
  text-align: center;

  padding-top: 43px;
  padding-bottom: 25px;
}
.footer-description {
  color: #d9dbe1;
  text-align: center;
  font-weight: 400;
  font-size: 14px;

  padding-bottom: 42px;
}
