* {
  margin: 0;
}

.header {
  background: linear-gradient(360deg, #1d1c1c 0%, hwb(0 17% 82% / 0) 100%),
    url(/images/donation0.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  width: 1850px;
  height: 600px;
}
.header-container {
  text-align: center;
  justify-content: center;
  padding: 175px 307px;
}
.header-title {
  font-weight: 700;
  font-size: 65px;
  color: #ffffff;
  margin-bottom: 20px;
}
.header-description {
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 30px;
}
.btn-donate {
  background: #ff5959;
  border-radius: 5px;
  padding: 16px 12px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  border: 0;
}
/* donate today style */
main {
  margin: 130px 568px;
  text-align: center;
}
.section-title {
  font-weight: 700;
  font-size: 45px;
  color: #121212;
  margin-bottom: 20px;
}
.section-description {
  font-weight: 400;
  font-size: 18px;
  color: #707070;
  margin-bottom: 50px;
}
.btn-donate-tk {
  display: flex;
  gap: 22px;

  justify-content: space-around;
  justify-items: center;
}
.btn {
  padding: 43px 22px;
  font-weight: 700;
  font-size: 30px;
  color: #707070;
  border: 0;
}
.btn-200 .btn {
  background: #ffeeee;
  border: 2px solid #ff5959;
  border-radius: 5px;
  color: #ff5959;
}
.section-end {
  margin-top: 60px;
  margin-bottom: 9.5px;
  font-weight: 400;
  font-size: 18px;
  color: #b3b3b3;
  text-align: center;
}
.section-hr {
  margin-bottom: 30px;
}
/* our donate plan */
.section-donate {
  font-weight: 700;
  color: #121212;
  font-size: 45px;
  margin-top: 130px;
  margin-bottom: 20px;
}
.section-donate-description {
  font-weight: 400;
  font-size: 18px;
  color: #707070;
  margin-bottom: 50px;
}
.section-div {
  display: flex;
  justify-content: space-between;
  height: auto;
  width: 780px;
}
.blog-1 {
  background: rgba(79, 157, 166, 0.1);
  border-radius: 5px;
  text-align: left;
  margin-right: 15px;
  padding-left: 15px;
  padding-bottom: 14px;
  padding-right: 15px;
  font-family: "Poppins";
  font-style: normal;
  font-size: 16px;
  word-break: normal;
}
.blog-2 {
  background: rgba(255, 89, 89, 0.1);
  border-radius: 5px;
  text-align: left;
  margin-right: 15px;
  padding-left: 15px;
  padding-bottom: 14px;
  padding-right: 15px;
  font-size: 16px;
  font-family: "Poppins";
  font-style: normal;
  word-break: normal;
}

.blog-3 {
  background: #fff4d6;
  border-radius: 5px;
  text-align: left;
  padding-left: 15px;
  margin-right: 20px;
  padding-bottom: 14px;
  padding-right: 15px;
  font-size: 16px;
  font-family: "Poppins";
  font-style: normal;
  word-break: normal;
}
.div-title {
  font-weight: 600;
  font-size: 24px;
  color: #121212;
  font-family: "Poppins";
  font-style: normal;
  text-align: left;
  padding-bottom: 30px;
  padding-top: 15px;
  white-space: nowrap;
}
.section-div img {
  width: 40px;
  height: 40px;
  padding-top: 40px;
  padding-left: 0.5px;
  left: 50px;
}
/* div and pic section */
